*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header{
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
  padding: 17px;
  background: antiquewhite;
}
.header img{
  height: 79px;
}
.header h1{
  color:rgb(255 144 9);
}
.footer{
  position: absolute;
  bottom: 0;
  padding: 26px;
  text-align: center;
  width: 100%;
  font-size: 20px;
}
#input1{
  border: none;
  outline: none;
  font-size: 28px;
}
#input2{
  border: none;
    outline: none;
    font-size: 16px;
    padding-top: 18px;
}

#form1{
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
  position: relative;
  /* z-index: -1; */
  width: 50vw;
  margin: auto;
  margin-top: 34px;
  padding: 18px;
}
.btn1{
  color: #ddc917!important;
  width: 9px!important;
  box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%)!important;
  border-radius: 50%!important;
  height: 50px!important;
  font-weight: bolder!important;
  position: absolute!important;
  bottom: -28px;
  right: 0;
  z-index: 10000!important;
  background: white!important;
}
.btn2{
  color: #ddc917!important;
  width: 9px!important;
  box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%)!important;
  border-radius: 50%!important;
  height: 50px!important;
  font-weight: bolder!important;
  margin-top: 23px!important;
  background: white!important;
}
.btn2:hover{
  color: red!important;
}
.form_box{

}
.note{
  width: 25vw;
    box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
    padding: 14px;
    margin: 3vh;
}
.delete_btn{
  color: red!important;
  margin-top: 14px;
}