*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header{
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
  padding: 17px;
  background: antiquewhite;
}
.header img{
  height: 79px;
}
.header h1{
  color:rgb(255 144 9);
}